body {
  background-color: #57524E;
  overflow: hidden;
}

/********table styling*******/
table {
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: calc((100vh - 40vw) / 2);
  left: calc((100vw -  40vw) / 2);
  border-collapse: collapse;
  table-layout: fixed;
}

td {
    position: relative;
}
.table__cell--border-right {
  border-right: 1px solid grey;
}

.table__cell--border-bottom {
  border-bottom: 1px solid grey;
}

.table__cell {
  padding: 0;
  text-align: center;
}

.table__row {
  height: 30px;
}
/*******\table styling*******/

/********select-player styling*******/

.select-player__X,
.select-player__O{
    width: 15%;
    display: flex;
    justify-content:space-between;
    box-sizing: border-box;
    padding: 0 5px;
    background-color: white;
    position: absolute;
    height: 100%;
    cursor: pointer;
    background: rgb(246,230,180); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(246,230,180,1) 0%, rgba(237,144,23,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(246,230,180,1) 0%,rgba(237,144,23,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.select-player__X:hover,
.select-player__O:hover {
    background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(254,255,255,1) 0%, rgba(210,235,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgba(210,235,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.select-player__X div,
.select-player__O div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.select-player__X {
    left: 0;
}

.select-player__O {
    right: 0;
}

.select-player__X span,
.select-player__O span{
    max-width: 50%;
}


/********select-player styling*******/

.controlBtns {
    position: absolute;
    bottom: 1vh;
    width: 180px;
    height: 30px;
    left: calc((100% - 180px) / 2);
    border-radius: 10px;
    overflow: hidden;
}

.restart {
    text-align: center;
    cursor: pointer;
    width: 60%;
    left: 20%;
    height: 80%;
    position: absolute;
    top: 10%;
    background: rgb(99,182,219); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(99,182,219,1) 0%, rgba(48,157,207,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(99,182,219,1) 0%,rgba(48,157,207,1) 100%);
    border-radius: 10px;
    
}

.restart:hover {
    background: rgb(254,252,234); /* Old browsers */
background: -moz-linear-gradient(top, rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.restart span {
    display: block;
    height: 60%;
    position: relative;
    top: 10%;
}

.yourTurn {
    color: red;
    font-weight: bold;
}


/********winner animation*************/
.horizontal.full-width {
    width: 38vw;
    
}

.horizontal {
    position: absolute;
    height: 10px;
    background-color: black;
    transition: width 0.2s ease;
    width: 1px;
}

.vertical {
    position: absolute;
    width: 10px;
    background-color: black;
    transition: height 0.2s ease;
    height: 1px;
}


.vertical.full-height {
    height: 38vw;
}

.firstRow {
    top: 14%;
}

.secondRow {
    top: 48.2%;
}

.thirdRow {
    top: 82%;
}

.firstColumn {
    top: 5%;
    left: 13%;
}

.secondColumn {
    top: 5%;
    left: 47.2%;
}

.thirdColumn {
    top: 5%;
    left: 82.2%;
}

.incline, .decline {
    position: absolute;
    width: 10px;
    background-color: black;
    transition: height 0.2s ease;
    height: 0vw;
    
}

.incline {
    left: 0;
    top: 0;
    transform: rotate(-45deg);
    transform-origin: top left;
}

.decline {
    right: 0;
    top: 0;
    transform: rotate(45deg);
    transform-origin: top right;
}

.incline.full-diagonal,
.decline.full-diagonal {
    height: 58vw;
    
}

/***svg****/
svg {
    position: absolute;
    left: 0;
    top: 0;
    
}

.svg__path-x-1,
.svg__path-x-2 {
    stroke: rgb(247,228,126);
    stroke-width: 15;
    stroke-dasharray: 180.2;
    stroke-dashoffset: 180.2;
}

.svg__path-x-1,
.svg__path-x-2,
.svg__path-o{
    animation: path .2s linear forwards;
}

.svg__path-x-2{
    animation-delay: .3s;
}



.svg__path-o {
  fill: none;
  stroke: rgb(54,174,228);
  stroke-width: 8;
  stroke-dasharray: 251.3627;
  stroke-dashoffset: 251.3627;
}




@keyframes path{
    100% {
        stroke-dashoffset: 0;
    }
}

/************media queries*****************/
@media only screen and (max-width : 480px) {
    
    table {
        width: 80vw;
        height: 80vw;
        left: 10vw;
        top: calc((100vh - 80vw) / 2);
    }
    
    .horizontal.full-width {
        width: 78vw;
    }
    
    .incline.full-diagonal,
    .decline.full-diagonal {
        height: 105vw;

    }
    
    .vertical.full-height {
        height: 74vw;
    }
}















