body {
  background-color: #14BDAC;
}

/********table styling*******/
table {
  width: 40vw;
  height: 40vw;
  position: absolute;
  top: calc((100vh - 40vw) / 2);
  left: calc((100vw -  40vw) / 2);
  border-collapse: collapse;
  table-layout: fixed;
}

.table__cell--border-right {
  border-right: 10px solid #0DA192;
}

.table__cell--border-bottom {
  border-bottom: 10px solid #0DA192;
}

.table__cell {
  padding: 0;
  text-align: center;
}

.table__row {
  height: 30px;
}
/*******\table styling*******/

/********select-player styling*******/
.select-player {
    width: 50vw;
    height: 5vw;
    position: absolute;
    left: 25vw;
    top: 2vw;
    display: flex;
    justify-content:space-around;
    cursor: pointer;
}

.select-player__X,
.select-player__O{
    width: 35%;
    display: flex;
    justify-content:space-between;
    box-sizing: border-box;
    padding: 0 5px;
    background-color: white;
    border-radius: 10px;
}

.select-player__X div,
.select-player__O div{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.select-player__X span,
.select-player__O span{
    max-width: 50%;
}


/********select-player styling*******/

.restart {
  border: 1px solid red;
  width: 50%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 25%;
  cursor: pointer;
}


/********winner animation*************/
.horizontal.full-width {
    width: 38vw;
    
}

.horizontal {
    position: absolute;
    height: 10px;
    background-color: black;
    transition: width 0.2s ease;
    width: 1px;
}

.vertical {
    position: absolute;
    width: 10px;
    background-color: black;
    transition: height 0.2s ease;
    height: 1px;
}


.vertical.full-height {
    height: 38vw;
}

.firstRow {
    top: 14%;
}

.secondRow {
    top: 48.2%;
}

.thirdRow {
    top: 82%;
}

.firstColumn {
    top: 5%;
    left: 13%;
}

.secondColumn {
    top: 5%;
    left: 47.2%;
}

.thirdColumn {
    top: 5%;
    left: 82.2%;
}

.incline, .decline {
    position: absolute;
    width: 10px;
    background-color: black;
    transition: height 0.2s ease;
    height: 0vw;
    
}

.incline {
    right: 0px;
    top: 0;
    transform: rotate(45deg);
    transform-origin: top right;
}

.decline {
    left: 0;
    top: 0;
    transform: rotate(-45deg);
    transform-origin: top left;
}

.incline.full-diagonal,
.decline.full-diagonal {
    height: 58vw;
    
}













